@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  @apply w-full h-full object-cover;
}

/* Global base styles */
@layer base {
  body {
    @apply font-myfont;
  }

  p {
    @apply text-[#7c7c7c];
  }
}

/* Light weight of Erbaum */
@font-face {
  font-family: 'MyFont';
  src: url('./fonts/Erbaum-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Regular weight of Erbaum */
@font-face {
  font-family: 'MyFont';
  src: url('./fonts/Erbaum-book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Handsome Pro in .otf format */
@font-face {
  font-family: 'HandsomePro';
  src: url('./fonts/Handsome-Pro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
